.app {
  background-color: #2196f3;
}
.app .title-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app .title-view h1 {
  align-self: center;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 10vw;
  font-family: 'Passion One', cursive;
}
.app .title-view h1 div:nth-child(1) {
  font-size: 3vw;
  font-family: 'Lobster', cursive;
}
.app .title-view h1 div:nth-child(2) {
  transition: transform 0.5s ease-out;
  transform: rotate(-3deg);
  border-bottom: solid 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
}
.app .title-view button {
  font-family: 'Lobster', cursive;
  width: 60%;
  margin: auto;
  height: 12vw;
  background: none;
  border: solid 1vw;
  border-radius: 10vw;
  color: white;
  font-size: 8vw;
  transition: transform 0.15s ease-out;
  color: #f9f9f9;
  border-color: #f9f9f9;
  cursor: pointer;
}
.app .title-view button:hover {
  transform: scale(1.01);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: white;
}
.app .map-view {
  position: relative;
  height: 100vh;
}
